/*--------------------------------- Header Wrapper Starts ---------------------------------*/

#header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

#header-wrapper .navbar {
  padding: 0.5rem 1rem;
}


/* Menu item hover effect */
.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease-in-out;
  color: #000;
    font-weight: 700;
    font-family: cursive;
}

.navbar-nav .nav-link:hover .navbar-dark {
  color: #28a745;
}

.navbar-nav .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #28a745;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16m-7 6h7' /%3E%3C/svg%3E");
}
.form-inline {
  display: flex;
  justify-content: center;
}
.form-control {
  width: 200px;
}

#progress-bar {
  position: fixed;
  top: 86px;
  left: 0;
  width: 0%;
  height: 10px;
  background: #28a745;
  z-index: 1001;
}

.search-form {
  position: relative;
  width: 100%;
}
.search-form input[type="search"] {
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #ced4da;
  transition: all 0.3s ease;
}
.search-form input[type="search"]:focus {
  border-color: #00a003;
  box-shadow: 0 0 5px rgba(0, 160, 3, 0.5);
  outline: none;
}
.search-form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0 20px 20px 0;
  border: 1px solid #00a003;
  background-color: #00a003;
  color: #fff;
}
.search-form button:hover {
  background-color: #0056b3;
}

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
 
#banner-section {
  padding: 86px 0 50px 0;
  text-align: center;
  background: linear-gradient(to bottom, #6a11cb, #228B22);
  color: #fff;
}

.banner-content {
  position: relative;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
}

.banner-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.banner-slider {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  width: 300px;
  transition: transform 0.3s ease;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-slide-visible {
  opacity: 0.5;
  transform: scale(0.85);
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.swiper-button-next, .swiper-button-prev {
  color: #fff!important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 0;
}
.swiper-pagination-bullet {
  background-color: #ffffff!important;
  opacity: 1!important;
}

.swiper-pagination-bullet-active {
  background-color: #228B22!important;
}

/* Featured Room section */

 .featured-listings .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.featured-listings .card-img-top {
    transition: transform 0.3s ease;
}

.featured-listings .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.featured-listings .card-img-top:hover {
    transform: scale(1.1);
}

.featured-listings .card-body {
    position: relative;
    padding: 1.5rem;
}

.featured-listings .card-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.featured-listings .card:hover .card-body::before {
    opacity: 1;
}



/* ********************************************** */
/************* How it works sections *************/
/* ******************************************** */

#timeline {
  margin: 20px auto;
  position: relative;
}
#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
#timeline article div.inner span.step {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #00a003;
  color: rgba(255,255,255, 1);
  border: 2px solid rgba(0,160,3, 1);
}
#timeline article div.inner span.step:hover {
    background: #ffffff;
    color: #00a003;
}
#timeline article div.inner span.step span {
  display: block;
  text-align: center;

}

#timeline article div.inner span.step span.step-item {
  font-size: 18px;
  padding-top: 5px;
}

#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  	width: 10px; 
	  height: 10px;
  -webkit-transform: rotate(-45deg);
}
#timeline article div.inner .content {
    padding: 10px;
    
}
#timeline article div.inner .content.search{
    border: 2px solid #e74c3c;
}
#timeline article div.inner .content.contact{
    border: 2px solid #2ecc71;
}
#timeline article div.inner .content.move-in{
    border: 2px solid #e67e22;
}

#timeline article div.inner p {
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  padding-bottom: 1rem;
}
#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
#timeline article:nth-child(1) div.inner h2, #timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}

#timeline article:nth-child(2) div.inner h2, #timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}

#timeline article:nth-child(3) div.inner h2, #timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}

img {
  display: block;
  width: 100%;
}

/* ********************************************** */
/************* How it works sections *************/
/* ******************************************** */

/* ********************************************** */
/*************** Newsletter section **************/
/* ******************************************** */


.newsbanner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-3.jpg);
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 60px;
    height: 600px;
}

.rental-parallax-wrapper {
    overflow: hidden;
    position: relative;
}

.rental-newsletter-subscribe .newsletter-subscription input[type="email"]{
    padding: 20px 2%;
    height: 16px;
    width: 530px;
    margin-right: 10px;
    font-size: 15px;
    max-width: 96%;
}

.rental-button {
    display: inline-block;
    font-size: 12px;
    padding: 14px 27px;
    margin-bottom: 15px;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    border-radius: 3px;
    color: white;
    background-color: #00a003;
}
.rental-button:hover {
  color: #00a003;
  background-color: #ffffff;
  border-color: #00a003;
}

/* ********************************************** */
/*************** Newsletter section **************/
/* ******************************************** */


/* ********************************* */
/* Testimonial section Starts */
/* ********************************* */

.testimonials {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    background-color: #fff;
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
}
#testimonials .card::before {
  content: "";
  background: url('../images/quote.png') no-repeat;
  background-size: 60px 60px;
  opacity: 0.5;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.testimonial img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  text-align: center;
  margin: 0 auto;
}

.testimonial img:hover {
  transform: scale(1.1);
  
}

.testimonial p {
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.testimonial p.font-weight-bold {
  font-size: 1.1rem;
  color: #007bff;
  margin-bottom: 5px;
}

.testimonial p.text-muted {
  font-size: 0.9rem;
  color: #777;
}

.swiper-flip {
  width: 700px;
  margin: 0 auto;
}

#testimonials .swiper-pagination-bullet {
  background-color: #228b2261!important;
  opacity: 1!important;
}

#testimonials .swiper-pagination-bullet-active {
  background-color: #00a003!important;

}


/* ********************************* */
/* Testimonial section Ends */
/* ********************************* */


.carded {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/


#footer-wrapper .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#footer-wrapper ul {
    display: block;
}
.footer-custom {
  background-color: #3e3e3e;
}
footer .list-unstyled a {
  color: #ffffff;
  transition: color 0.3s ease;
}

footer .list-unstyled a:hover {
  color: #28a745!important;
}

/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/

/* About us page */

#about-banner {
  padding: 86px 0 50px 0;
    text-align: center;
  background-color: #f7f7f7;
  z-index: 10;
    background-image: linear-gradient(to top, #fff0, #ffffffd6 53%, #fff 75%), url(../images/background.jpg);
    background-position: 0 0, 50%;
    background-size: auto, cover;
    position: relative;
}

.about-us {
  background: #ffffff;
}
.about-image img {
  border-radius: 8px;
}

.about-us .title-head {
  font-size: 2.5rem;
  font-weight: 600;
}

.about-us h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.about-us ul {
  list-style-type: none;
  padding: 0;
}

.about-us ul li {
  font-size: 1rem;
  line-height: 1.6;
}

.our-team {
  background-color: #ffffff;
}

.team-group-image {
  background-image: linear-gradient(to bottom, #fff0, #ffffffd6 83%, #fff 100%), url(../images/our-team.jpg); 
  background-position: 0 0, 50%;
    background-size: auto, cover;
    position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.team-card {
  padding: 2rem;
  transition: transform 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}

.team-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.team-card .card-body {
  padding: 1rem;
  text-align: left;
}

.team-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}


/*------------------------------------ Components Ends ------------------------------------*/

/* Media Queries */
@media (min-width: 320px) {
  /* Styles for small screens (mobile) */
}

@media (min-width: 480px) {
  /* Styles for larger screens (tablet) */
}

@media (min-width: 720px) {
  /* Styles for medium screens (small desktop) */
}

/* payment page */

.video-container {
  position: absolute;
  top: 86px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.payment-section {
  position: relative;
  z-index: 1;
  padding: 86px 0 0;
}

.payment-form {
  max-width: 600px;
  margin: 0 auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.payment-form h2 {
  margin-bottom: 20px;
  color: #343a40;
}
.form-control:focus {
  box-shadow: none;
  border-color: #228B22;
}
.btn-primary {
  background-color: #00a003;
  border-color: #228B22;
  padding: 10px;
  border-radius: 50px;
  transition: background-color 0.3s, border-color 0.3s;
}
.btn-primary:hover {
  background-color: #00a003;
  border-color: #228B22;
}
.input-group-text {
  background-color: #00a003 !important;
  color: #ffffff !important;
  border: none;
  padding: 1rem;
}
.error {
  border-color: red;
}
.error .input-group-text {
  background-color: red;
}


/* Variables */
:root {
  --background: #f7f7f7;
  --box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  --border: 1px solid rgba(191, 191, 191, 0.4);
  --card-height: 400px;
  --card-width: 450px;
  --inner-margin: 15px;
  --number-size: 35px;
  --stagger: 180px;
  --outer-margin: 90px;
  --marker-size: 9px;
  --timeline: #bdbdbd;
  --head-height: calc(var(--number-size) + 50px);
  --body-height: calc(var(--card-height) - var(--head-height));
  --marker-dist: calc(var(--card-width) + var(--outer-margin) / 2 - var(--marker-size) / 2);
  --steps: #46b8e9;
  --colors: #46b8e9, #3ee9d1, #ce43eb, #4d92eb;
}







